.customer {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 64px 0;
}
.customer__picture {
  max-width: min-content;
}

.customer-items {
  margin: 36px 0;
}

.customer-item {
  padding: 15px 0;
  color: #5a7184;

  height: 100%;
}
.customer__picture {
  width: 100%;
}

.customer-item__title {
  color: var(--dark);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 16px;
}

.customer-item__inner {
  padding: 0 20px;
  border-left: 2px solid transparent;
}

.customer-item__inner > *:not(:last-child) {
  margin-bottom: 10px;
}

.customer-item_active {
  background: #f7f8f9;
}

.customer-item_active .customer-item__inner {
  border-color: currentColor;
}

.customer__picture-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .customer {
    padding: 80px 0;
  }

  .customer-item {
    text-align: center;
  }

  .customer-item__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .customer-item {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .customer {
    padding: 100px 0;
  }

  .customer-items {
    margin: 45px 0;
  }

  .customer-item__title {
    font-size: 24px;
  }

  .customer__picture-container {
    justify-content: flex-end;
  }
}
