/*here goes all non-query styles*/
.header {
  --header-bg: #ebf7f2;
  --header-main: 64px;
  height: var(--header-main);
}

.header__container {
  width: 100%;
  height: var(--header-main);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--header-bg);
  display: flex;
  align-items: center;
}

.header-main {
  background: var(--header-bg);
}

.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark);
  text-decoration: none;
  margin-right: 40px;
}

.header-nav__links:hover {
  color: var(--primary);
}

/*here goes responsive styles*/
@media screen and (max-width: 575px) {
  /* styles that apply to screen widths smaller than 576px go here */
}

/*!!!those styles will rewrite previous*/
/*it will work FROM 576px INCLUDED*/
@media screen and (min-width: 576px) {
}

/*!!!those styles will rewrite previous*/
/*it will work FROM 768px INCLUDED*/
@media screen and (min-width: 768px) {
}

/*!!!those styles will rewrite previous*/
/*it will work FROM 992px INCLUDED*/
@media screen and (min-width: 992px) {
  .header {
    --header-main: 100px;
  }
}

/*!!!those styles will rewrite previous*/
/*it will work FROM 1200px INCLUDED*/
@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 991px) {
  .header-nav {
    display: flex;
    justify-content: flex-end;
  }

  .header-nav_fixed {
    position: fixed;
    top: var(--header-main);
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--header-bg);
    display: block;
    overflow-y: auto;
    padding-bottom: 40px;
  }

  .header-nav__link {
    display: block;
    margin-right: 0;
    padding: 15px 0;
  }

  [data-open-menu='true'] .header-nav_fixed {
    display: block !important;
  }

  [data-open-menu='false'] .header-nav_fixed {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .header-nav__items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

[data-open-menu='true'] #burger {
  display: none !important;
}

[data-open-menu='false'] #burger {
  display: block !important;
}

[data-open-menu='true'] #close {
  display: block !important;
}

[data-open-menu='false'] #close {
  display: none !important;
}
