.customer-help .row {
  justify-content: space-between;
}

.customer-help {
  min-height: 855px;
}

.customer-help .container {
  min-height: 855px;
  display: flex;
  align-items: center;
}

.customer-help_left {
}

.customer-help_left p,
h3 {
  margin-bottom: 50px;
}

.customer-help_left h3 {
  color: var(--dark);
}

.customer-help_left h4 {
  color: var(--dark);
  margin-bottom: 20px;
}
.customer-help_left__box-background {
  margin-bottom: 50px;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 0px 8px 8px 0px;
  border-left: 2px solid #5a7184;
}
.customer-help_left__box-default {
}

.customer-help_right {
  max-height: inherit;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.customer-help_right img {
  max-width: 100%;
}
