.footer {
 
  padding: 100px;
  display: flex;
  align-items: center;
}


.column-logo {
  display: flex;
  flex-direction: column;
}
.column-logo p {
  color: #5A7184;
  font-family: var( --font);
font-weight: 400;
font-size: 16px;
line-height: 28px;
  margin-bottom: 32px;
}
.column-logo_logo {
  margin-bottom: 28px;
}



footer a {
  color: var(--dark);
}

footer a {
  font-family: var( --font);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
}

footer h4 {
  font-family: var( --font);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 31px;
}



.footer-end {
  padding-top: 96px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-end__logo {
  padding-bottom: 24px;
  font-family: var( --font);
  font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #5A7184;
margin: 0 auto;
text-align: center;
 
}

.footer-end  p{
  text-align: center;
}
