* {
  box-sizing: border-box;
}

/* global variables decloration*/
:root {
  --primary: #36b37e;
  --secondary: #ebf8f3;
  --success: #e6f8fb;
  --warning: #faad13;
  --danger: #e95432;
  --dark: #183b56;
  --ligth: #fff;
  --reserved-blue: #1565d8;
  --paragraph-color: #5a7184;
  --font: "Open Sans", sans-serif;
  --font-secondary: "HK Grotesk", sans-serif;
}

/*sticky footer*/
html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}

/*sticky footer - end*/

body {
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
}

.h4_special {
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.125em;
  line-height: 25px;
}

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 32px;
  color: var(--paragraph-color);
  margin: 0;
}
a {
  color: #1565d8;
  text-decoration: none;

  font-family: var(--font);
  font-weight: 400;
  font-size: 1em;
  line-height: 22px;
}

a:hover {
  color: #36b37e;
}

.btn-primary {
  border: none;
  height: 46px;
  width: 137px;
  background: var(--primary);
  color: var(--ligth);
  border-radius: 30px;
}

.btn-primary:hover {
  background: #3bbe88;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--primary);
  color: var(--ligth);
  border-color: var(--primary);
}

.btn-secondary {
  font-weight: 700;
  font-size: 1em;
  line-height: 22px;
  height: 48px;
  border: 2px solid var(--reserved-blue);
  border-radius: 8px;
  display: flex;
  padding: 0 20px;
  cursor: pointer;
  align-items: center;
}

.btn-secondary:hover {
  border: 2px solid #2279f3;
  background: #2279f3;
  color: var(--ligth);
}

.footer-element-center {
  display: flex;
  flex-direction: column;
}

form {
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

@media (min-width: 576px) {
  .text-sm-start {
    text-align: start !important;
  }
  .text-sm-end {
    text-align: end !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-start {
    text-align: start !important;
  }
  .text-md-end {
    text-align: end !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-start {
    text-align: start !important;
  }
  .text-lg-end {
    text-align: end !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

.text-start {
  text-align: start;
}
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
@media (min-width: 576px) {
  .justify-sm-between {
    justify-content: space-between !important;
  }
  .flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
  .align-items-sm-center {
    align-items: center !important;
  }
}

@media (min-width: 768px) {
  .justify-md-between {
    justify-content: space-between !important;
  }
  .justify-md-center {
    justify-content: center !important;
  }
  .flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .align-items-md-center {
    align-items: center !important;
  }
}

@media (min-width: 992px) {
  .justify-lg-between {
    justify-content: space-between !important;
  }
  .justify-sm-center {
    justify-content: center !important;
  }
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .align-lg-center {
    align-items: center !important;
  }
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}

.w-100 {
}

.w-100 {
  width: 100%;
}
.mw-100 {
  width: 100%;
}

@media (min-width: 576px) {
  .order-sm-1 {
    order: 1 !important;
  }
  .order-sm-2 {
    order: 2 !important;
  }
  .order-sm-3 {
    order: 3 !important;
  }
  .order-sm-4 {
    order: 4 !important;
  }
  .order-sm-5 {
    order: 5 !important;
  }
  .order-sm-0 {
    order: 0 !important;
  }
}

@media (min-width: 768px) {
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
  .order-md-3 {
    order: 3 !important;
  }
  .order-md-4 {
    order: 4 !important;
  }
  .order-md-5 {
    order: 5 !important;
  }
  .order-md-0 {
    order: 0 !important;
  }
}

@media (min-width: 992px) {
  .order-lg-1 {
    order: 1 !important;
  }
  .order-lg-2 {
    order: 2 !important;
  }
  .order-lg-3 {
    order: 3 !important;
  }
  .order-lg-4 {
    order: 4 !important;
  }
  .order-lg-5 {
    order: 5 !important;
  }
  .order-lg-0 {
    order: 0 !important;
  }
}

.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-none {
    display: none !important;
  }
}

.d-block {
  display: block;
}
.d-none {
  display: none;
}
