.header {
  display: flex;
  align-items: center;
}
.header_primary {
  height: 100px;
  background: brown;
}

.row {
}
.col-2 {
}
.header__logo {
}
.col-10 {
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-menu {
}
.header-menu__link {
  margin-right: 40px;
}
.header-menu__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  height: 48px;
  border: 2px solid var(--reserved-blue);
  border-radius: 8px;
  display: flex;
  padding: 0 20px;
  cursor: pointer;
  align-items: center;
}
.header-menu__btn:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  height: 48px;
  border: 2px solid #2279f3;
  background: #2279f3;
  color: var(--ligth);
  border-radius: 8px;
  display: flex;
  padding: 0 20px;
  cursor: pointer;
  align-items: center;
}
