.header {
  display: flex;
  align-items: center;
}
.header_main {
  height: 100px;
  background: var(--secondary);
}

.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-menu__link {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1em;
  line-height: 22px;
  text-align: center;
  margin-right: 40px;
  color: var(--dark);
  text-decoration: none;
}
