.hero {
  display: flex;
  background: var(--secondary);
  min-height: calc(100vh - 100px);
  justify-content: space-between;

  align-items: center;
}

.hero_form-block {
  position: relative;
  height: 430px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
h1 {
font-family: 'HK Grotesk';
font-weight: 700;
font-size: 56px;
line-height: 68px;
letter-spacing: 0.2px;
color:var(--dark);
padding-bottom: 24px;
}
 p{
  margin-bottom: 35px;
}
.email {
 
  height: 60px;
  width: 415px;
}
.email__center {
  height: 60px;
  width: 415px;
  border: 1px solid #E5EAF4;
  position: relative;
  border-radius: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-primary{
margin-right: 6px;
}
form{
  width:100% ;
  display: flex;
  justify-content: space-between;
}
.email__input-block {
  margin-left: 16px;
  z-index: 2;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  border: none;
  background: #ffffff00;
}


.hero__scroll-down {
  position: absolute;
  bottom: calc(-56px - 50px);
}
.image-wrapper__illustration {
  max-width: 100%;
}
