.logos {
  text-align: center;
  min-height: 445px;
}
.container {
}

.logos .container {
  min-height: 445px;
  display: flex;
  align-items: center;
}

.logos .container .row {
  align-items: center;
}

.logos .container .row .col-12 {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.center {
}

.logos a {
  font-weight: bold;
}

.logos .line {
  border: 1px solid #e3e7ed;
  width: 100%;
}
