.save-time {
  min-height: 855px;
  padding: 80px 0;
}

.save-time .row {
  justify-content: space-between;
  align-items: center;
}

.save-time .container {
  min-height: 855px;
  display: flex;
  align-items: center;
}

.save-time_left img {
  max-width: 100%;
}

.save-time_left {
  height: 100%;
}

.save-time_right {
  height: 100%;
}

.save-time_right h2 {
  color: var(--dark);
  margin-bottom: 50px;
}
.save-time_right p {
  margin-bottom: 40px;
}

.save-time_right__header {
}
.link__learn-more {
  margin-bottom: 60px;
}
.__line {
  margin-bottom: 50px;
  border: 1px dashed #9daab6;
}
.save-time_right__text {
}
.save-time__logo {
}
