.workflow {
}

.workflow__header {
  padding-top: 99.5px;
  display: flex;
  justify-content: center;
}

.workflow__title > * {
  text-align: center;
}

.workflow__title h3 {
  font-family: var(--font-secondary);

  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  letter-spacing: 0.2px;
  color: var(--dark);
  padding-bottom: 24px;
}

.workflow__title p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #5a7184;
}

.workflow__blocks {
  max-width: 100%;
}

.workflow-blocks-wrapper {
  /* height: 270px; */

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.workflow-blocks {
  border-radius: 16px;

  padding: 55px 0px;
}

.workflow-blocks h4 {
  margin-bottom: 16px;
  color: var(--dark);
}
.workflow-blocks svg {
  margin-top: 16px;
}

.multiOS_block {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #e6f8fc;
}
.compatibility_block {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ebf8f3;
}
.integration_block {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: #fdeeeb;
}

.workflow_svg_container > * {
  margin: 0 12px;
}

.workflow_svg_container-multiOS {
}

.workflow_svg_container-Compatibility {
}

.workflow_svg_container-integration {
}
