.workflow {
}

.workflow__header {
  display: flex;
  justify-content: center;
}

.workflow_title-center {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.workflow__title > * {
  text-align: center;
}

.workflow__blocks {
  max-width: 100%;
}

.workflow_blocks_wrapper {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.workflow_blocks {
  border-radius: 16px;
  height: 212px;
}

.workflow_blocks h3 {
  margin-bottom: 16px;
}
.workflow_blocks svg {
  margin-top: 16px;
}

.multiOS_block {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #e6f8fc;
}
.compatibility_block {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ebf8f3;
}
.integration_block {
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: #fdeeeb;
}

.workflow_svg_container >* {
 
  margin: 0 12px;
}

.workflow_svg_container-multiOS {

}

.workflow_svg_container-Compatibility {

}

.workflow_svg_container-integration {

}
